.navbar {
	min-height: 90px;
}

@media (max-width: 991px) {
	.navbar-nav,
	.btn-group {
		padding: 10px 0;
	}

	.card {
		margin-top: 20px;
	}
}

@media (min-width: 992px) {
	.navbar-collapse {
		padding-left: 30px;
	}

	.navbar-collapse .btn-group {
		padding-right: 50px;
	}
}

.section {
	padding-top: 50px;
}

.status-text {
	font-size: 1.5rem;
}

.bd-footer {
	background-color: #f3f3f3;
	text-align: center;
	margin-top: 40px;
}
