.navbar {
	min-height: 80px;
}

@media (max-width: 991px) {
	.navbar-nav,
	.btn-group {
		padding: 10px 0;
	}
}

@media (min-width: 992px) {
	.navbar-collapse {
		padding-left: 30px;
	}

	.navbar-collapse .btn-group {
		padding-right: 50px;
	}
}
